@{
    ViewBag.Title = "ShowCandidates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>

</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<table  id="table" class="table table-bordered table-responsive table-hover" >
    <tr>
        <th>@Html.ActionLink("District", "ShowCandidates", new { sortOrder = ViewBag.NameSortParm })</th>
        <th>@Html.ActionLink("Authority", "ShowCandidates", new { sortOrder = ViewBag.DateSortParm })</th>
        <th>Candidate Name </th>
        <th>Vote</th>
        <th>Percentage</th>
    </tr>

    @foreach (var d in Model)
    {
        <tr>
            <td>@d.cdistrict</td>
            <td>@d.cauthority</td>
            <td>@d.cname</td>
            <td>@d.cvoted</td>
            <td>@d.cpercentage%</td>
        </tr>
    }
</table> 