@model MunicipalityElections.Models.Mail
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Carmiel<br />
    <abbr title="Phone">P:</abbr>
    04-00000000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:aitb@walla.com">Support</a><br />
    <strong>Marketing:</strong> <a href="mailto:aitb@walla.co.il">Marketing</a>
</address>

@using (Html.BeginForm("SendMail", "Home"))
{
    <div class="form-group">
        @Html.Label("Name")
        @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name *", @type = "text", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.Label("Email")
        @Html.TextBoxFor(m => m.FromEmail, new { @placeholder = "Email Address *", @type = "email", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FromEmail)
    </div>
    <div class="form-group">
        @Html.Label("Telephone")
        @Html.TextBoxFor(m => m.Telephone, new { @placeholder = "Telephone Number", @type = "text", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Telephone)
    </div>
    <div>
        @Html.Label("Message")
        @Html.TextAreaFor(m => m.Message, new { @placeholder = "Message *", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Message)
    </div>
    <button type="submit" class="btn btn-primary">Send Mail</button>
}

